/* Color Palette
#1: #004080 (Navy Blue – Header)
#2: #0F766E (Teal – Work Experience)
#3: #F59E0B (Gold – Education)
#4: #111827 (Dark Gray – Footer)
*/


/* Global styles 
------------------------------------*/
body {
    background-color: #e6f2ff;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::before,
::after {
    box-sizing: inherit;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

/* Header & Footer 
------------------------------------*/

header {
    text-align: center;
    background-color: #004080;
    color: white;
}

header img {
    border-radius: 50%;

}

header p {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 18px;
}

header h1 {
    color: white;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;

}

header h2 {
    color: white;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 30px;
    font-weight: 550;
    margin: 0;
}

footer {
    text-align: center;
    background-color: #111827;
    color: white;
}

.contact-info a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

footer h2 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 20px;
    font-weight: 550;
    margin-top: 0;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #F59E0B;
}

/* Work Experience
------------------------------------*/

.work {
    background-color: #0F766E;
    /* color 2 */
    color: white;
    border-radius: 10px;
}

.work p {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 18px;
}

.work h2 {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 30px;
    font-weight: 550;
    margin-top: 0;
}

/* Education
------------------------------------*/
.education {
    background-color: #F59E0B;
    /* color 3 */
    color: #111827;
    border-radius: 10px;
}

.education p {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 18px;
}

.education h2 {
    color: #111827;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 30px;
    font-weight: 550;
    margin-top: 0;
}


/* Lists 
------------------------------------*/
ul {
    list-style-type: none;
}